<div class="text-center m-5">
  <h2>続きを見たい方は会員登録してください</h2>
    <div class="m-5" >
      <%= link_to "新規登録", new_user_registration_path, class: 'btn btn-outline-dark' %>
      <%= link_to "ログイン", new_user_session_path, class: 'btn btn-outline-dark' %>
    </div>
</div>