<div class="text-center m-5">
  <h2>ここから先は、会員登録またはログインして下さい</h2>
    <div class="m-5" >
      <%= link_to "  新規登録", new_user_registration_path, class: 'btn btn-outline-info fas fa-user-plus py-2 m-2' %>
      <%= link_to "  ログイン", new_user_session_path, class: 'btn btn-outline-info fas fa-sign-in-alt py-2 m-2' %>
    </div>
</div>