<div class="row">
    <div class="image_tag-center">
      <%= image_tag "IMG_4334.JPG",width: '100%', height: '95%' %>
    </div>
</div>
<div class="container">
  <div class="text-center m-5">
    <h2>日本の祭り</h2>
      <div class="m-5">
        <P>
          このサイトは、全国各地のお祭り情報を発信しあうサイトです
        </P>
      </div>
    <% if user_signed_in? %>

    <% else %>
      <p><%= link_to "  見てみる",menus_path, class: 'btn btn-outline-dark far fa-eye w-50 py-2' %></p>
      <p>
        <%= link_to "  新規登録", new_user_registration_path, class: 'btn btn-outline-info fas fa-user-plus py-2 m-2' %>
        <%= link_to "  ログイン", new_user_session_path, class: 'btn btn-outline-info fas fa-sign-in-alt py-2 m-2' %>
      </p>
    <% end %>
  </div>
</div>