<footer>
  <div class='container'>
    <div class='row'>
      <div class='mx-auto'>
        <p>CopyRight Infratop.inc</p>
      </div>
    </div>
  </div>
</footer>
© 2021 GitHub, Inc.
Terms
Privacy
